# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Databases
*.db
*.sqlite3

# Logs
*.log
app.log
app_err.log

# Media / Downloads
downloads/

# Temporary / Backup folders
_backup_frontend/
