<!-- SoundCloud Waveform & Track View -->
<section class="tab-content" id="tab-soundcloud-view">
    <div class="soundcloud-view-container glassmorphic">
        <div class="sc-view-header">
            <div class="sc-badge"><i class="fa-brands fa-soundcloud"></i> SOUNDCLOUD TRACK</div>
            <h1 id="sc-view-title">Seleziona una traccia SoundCloud</h1>
            <h2 id="sc-view-artist">Sfoglia la ricerca o le playlist</h2>
        </div>
        <div class="sc-waveform-card">
            <div class="sc-embed-box" id="sc-embed-wrapper">
                <!-- SoundCloud Iframe Widget loaded here -->
            </div>
        </div>
    </div>
</section>
